div.app-navigation.navigation-bar[wds-component='bottom-navigation'] {
  position: fixed;
  z-index: 10;
  right: 50%;
  bottom: var(--spacing-5);
  width: min(420px, calc(100% - var(--spacing-8)));
  transform: translateX(50%);
}
