VITE_CAREER_NET_API_KEY=your_career_net_open_api_key
VITE_GITHUB_URL=https://github.com/samingming
VITE_DISCORD_URL=https://discord.com/users/1206605487915671632
VITE_CONTACT_EMAIL=my-juliana@naver.com
