VITE_CAREER_NET_API_KEY=your_career_net_api_key
VITE_PUBLIC_DATA_API_KEY=your_public_data_api_key
VITE_GITHUB_URL=https://github.com/your-id
VITE_DISCORD_URL=https://discord.com/users/your-id
VITE_CONTACT_EMAIL=your-email@example.com
