# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# env / secrets
.env
.env.local

# DB
*.db
*.sqlite3

# Node
node_modules/
dist/
.vite/

# OS / editor
.DS_Store
.idea/
.vscode/
