DATA_GO_KR_SERVICE_KEY=your_data_go_kr_service_key
BUS_STOP_API_BASE_URL=https://apis.data.go.kr/1613000/BusStop
TRIP_VOLUME_API_BASE_URL=https://apis.data.go.kr/1613000/TripVolumebyStop
TRIP_VOLUME_OPR_YM=202509
BUS_STOP_OPR_YMD=20250801
