@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F0F4F8; /* 연한 파스텔 블루 */
  color: #2D3748; /* 진한 회색 텍스트 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
