.rdp-root {
  --rdp-accent-color: var(--color-primary);
  --rdp-accent-background-color: var(--color-primary-light);
  --rdp-day-width: 36px;
  --rdp-day-height: 36px;
  --rdp-day_button-width: 34px;
  --rdp-day_button-height: 34px;
  margin: 0;
}
